:root {
  --dm-script-gauge-width: 0%;
  --dm-metric-gauge-width: 0%;
  --dm-total-gauge-width: 0%;
  --jw-script-gauge-width: 0%;
  --jw-metric-gauge-width: 0%;
  --jw-total-gauge-width: 0%;
}

@font-face {
  font-family: 'ABCFavorit';
  font-weight: normal;
  src: url('https://static1.dmcdn.net/ABCFavorit-Regular.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: ABCFavorit;
  margin: 0;
}
section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
section:nth-child(even) {
  background: #fafafa;
}
h1 {
  text-align: center;
  margin: 0;
}
h2 {
  margin: 0 0 20px;
  text-align: center;
}
code {
  background-color: #eee;
  border: #aaa 1px solid;
  border-radius: 5px;
  color: red;
  margin: 0px 5px;
  padding: 4px 10px;
}
label {
  margin: 0 20px 0 0;
}
select {
  height: 100%;
  padding: 0 10px;
}
details {
  margin: 20px 0 0 0;
  text-align: center;
}
summary {
  cursor: pointer;
}

.header {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option {
  height: 40px;
}

.players {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.player {
  flex: 1;
  padding: 0 10px;
}
.player-src {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.logs {
  margin: 0 auto;
  width: 400px;
}
.perfs {
  height: 160px;
}
.log-header {
  font-weight: bold;
  padding: 0 20px;
}
.log-row {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.font-mono {
  font-family: monospace;
}
.loader {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.loader img {
  display: block;
  width: 40px;
  height: 40px;
}

.metric-row {
  display: flex;
}
.metric-col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.metric-col-fixed-width {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.metric-left {
  align-items: start;
}
.metric-center {
  align-items: center;
}
.metric-right {
  align-items: end;
}
.metric-item {
  height: 40px;
  display: flex;
  align-items: center;
}

.gauge {
  width: 100%;
}
.gauge-left {
  justify-content: start;
}
.gauge-right {
  justify-content: end;
}
.gauge::after {
  display: block;
  content: '';
  border-radius: 15px;
  height: 10px;
  background: #800020;
  border: 1px solid #555;
  margin: 5px 0;
  transition: width 0.8s ease-in-out;
  background-color: #4caf50;
}
.gauge.red::after {
  background-color: #f44336;
}
.gauge.green::after {
}

#dm-script-gauge::after {
  width: var(--dm-script-gauge-width);
}
#dm-metric-gauge::after {
  width: var(--dm-metric-gauge-width);
}
#dm-total-gauge::after {
  width: var(--dm-total-gauge-width);
}
#jw-script-gauge::after {
  width: var(--jw-script-gauge-width);
}
#jw-metric-gauge::after {
  width: var(--jw-metric-gauge-width);
}
#jw-total-gauge::after {
  width: var(--jw-total-gauge-width);
}
