:root {
  --dm-script-gauge-width: 0%;
  --dm-metric-gauge-width: 0%;
  --dm-total-gauge-width: 0%;
  --jw-metric-gauge-width: 0%;
  --jw-script-gauge-width: 0%;
  --jw-total-gauge-width: 0%;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: 'ABCFavorit';
  font-weight: normal;
  src: url('https://static1.dmcdn.net/ABCFavorit-Regular.woff2') format('woff2');
}

body {
  font-family: ABCFavorit;
  margin: 0;
  overflow-y: scroll;
}
section {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
section:nth-child(even) {
  background: #fafafa;
}
h1 {
  margin: 0;
  text-align: center;
}
h2 {
  margin: 0 0 20px;
  text-align: center;
}
h3 {
  margin: 0;
  text-align: center;
}
code {
  background-color: #eee;
  border: #aaa 1px solid;
  border-radius: 5px;
  color: red;
  margin: 0px 5px;
  padding: 4px 10px;
}
label {
  margin: 0 20px 0 0;
}
select {
  height: 100%;
  padding: 0 10px;
}
details {
  margin: 20px 0 0 0;
  text-align: center;
}
summary {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
}

.options {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.option {
  height: 40px;
}

.logs {
  margin: 0 auto;
  width: 400px;
}
.log-header {
  font-weight: bold;
  padding: 0 20px;
}
.log-row {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.col-1 {
  flex: 1;
}
.col-grow {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-fix {
  flex-shrink: 0;
  width: 100px;
}
.col-fix-150 {
  width: 150px;
}
.col-align-left {
  align-items: start;
}
.col-align-center {
  align-items: center;
}
.col-align-right {
  align-items: end;
}
.item {
  align-items: center;
  display: flex;
  height: 40px;
}

.script-src {
  align-items: center;
  display: flex;
  font-size: 10px;
  height: 40px;
  justify-content: center;
}

.gauge {
  width: 100%;
}
.gauge-align-left {
  justify-content: start;
}
.gauge-align-right {
  justify-content: end;
}
.gauge::after {
  background-color: #bae488;
  border: 1px solid #999;
  border-radius: 15px;
  content: '';
  display: block;
  height: 10px;
  margin: 5px 0;
  transition: width 0.8s ease-in-out;
}
#dm-script-gauge::after {
  width: var(--dm-script-gauge-width);
}
#dm-metric-gauge::after {
  width: var(--dm-metric-gauge-width);
}
#dm-total-gauge::after {
  width: var(--dm-total-gauge-width);
}
#jw-script-gauge::after {
  width: var(--jw-script-gauge-width);
}
#jw-metric-gauge::after {
  width: var(--jw-metric-gauge-width);
}
#jw-total-gauge::after {
  width: var(--jw-total-gauge-width);
}

.loader {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
}
.loader img {
  display: block;
  height: 40px;
  width: 40px;
}

.font-bold {
  font-weight: bold;
}
.font-mono {
  font-family: monospace;
}
