@font-face {
  font-family: 'ABCFavorit';
  font-weight: normal;
  src: url('https://static1.dmcdn.net/ABCFavorit-Regular.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: ABCFavorit;
  margin: 0;
}
section {
  padding: 20px 0;
}
section:nth-child(even) {
  background: #eee;
}
h1 {
  text-align: center;
  margin: 0;
}
h2 {
  margin: 0 0 20px;
  text-align: center;
}
code {
  background-color: #eee;
  border: #aaa 1px solid;
  border-radius: 5px;
  color: red;
  margin: 0px 5px;
  padding: 4px 10px;
}
label {
  margin: 0 20px 0 0;
}
select {
  height: 100%;
  padding: 0 10px;
}
details {
  text-align: center;
}
summary {
  cursor: pointer;
}

.header {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option {
  height: 40px;
}
.players {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.player {
  flex: 1;
  padding: 10px;
}
.perfs {
  height: 200px;
}
.logs {
  margin: 0 auto;
  width: 400px;
}
.log-header {
  font-weight: bold;
  padding: 0 20px;
}
.log-row {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.font-mono {
  font-family: monospace;
}
.ellipsis {
  overflow: hidden;
}
